---
layout: default
extra_css:
  - timetable.css

---

<header id="accueil">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- <img id="img-accueil" class="img-responsive img-rounded" src="{{base}}/assets/img/momo.png" alt="Ahmad"> -->
				<img id="img-accueil" class="img-responsive img-rounded" src="{{base}}/assets/img/logo-lg.png" alt="Ahmad">
				<div class="intro-text">
					<span class="name">Ensemble tout devient possible</span>
					<hr class="star-light">
					<span class="skills">Union - Nîmoise - Insertion - Culturelle</span>
				</div>
			</div>
		</div>
	</div>
</header>


<section id="missions">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Nos Missions</h2>
				<h3 class="section-subheading text-muted">&nbsp;</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-home fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Accueillir</h4>
				<p class="text-muted">Dans nos locaux,... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Réunir</h4>
				<p class="text-muted">Notre équipe pédagogique,... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">Echanger</h4>
				<p class="text-muted">Dans le cadre des sorties, des activités ou autres rencontres... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
			</div>
		</div>
	</div>
</section>

<section id="activites" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Les Activités</h2>
				<h3 class="section-subheading text-muted">au sein de nos locaux</h3>
			</div>
		</div>
		<div class="row">

			{% for post in site.categories.activites %}
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="{{post.url}}" class="portfolio-link animsition-link">
						<!-- <div class="portfolio-hover">
							<div class="portfolio-hover-content">
							</div>
						</div> -->
						{% capture imgurl %}{% if post.thumbnail %}{{post.thumbnail}}{% elsif post.imgtitle %}{{post.imgtitle}}{% else %}thumb/default_thumb.png{% endif %}{% endcapture %}
						<img src="{{base}}/assets/img/{{imgurl}}" class="img-responsive" alt="{{post.title}}">
					</a>
					<div class="portfolio-caption">
						<h4>{{post.title}}</h4>
						<p class="text-muted">{{post.subtitle}}</p>
					</div>
				</div>
			{% endfor %}
			
		</div>
	</div>
</section>

<section id="sorties">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Nos sorties</h2>
				<h3 class="section-subheading text-muted">à Nîmes et ailleurs</h3>
			</div>
		</div>

		<div class="row">
			{% for post in site.categories.sorties limit:3 %}
			<div class="col-sm-4 portfolio-item">
				<a href="{{post.url}}" class="portfolio-link">
					{% capture imgurl %}{% if post.thumbnail %}{{post.thumbnail}}{% elsif post.imgtitle %}{{post.imgtitle}}{% else %}thumb/default_thumb.png{% endif %}{% endcapture %}
					<img src="{{base}}/assets/img/{{imgurl}}" class="img-responsive" alt="{{post.title}}">
				</a>
				<div class="portfolio-caption">
					<h4>{{post.title}}</h4>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<a href="/nos-sorties" class="bouton-cercle center-block">Voir plus</a>
			</div>
		</div>
	</div>
</section>

<section id="evenements" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Événements</h2>
				<h3 class="section-subheading text-muted">et coopérations ou vous pouvez nous retrouver</h3>
			</div>
		</div>

		<div class="row">
			{% for post in site.categories.evenements %}
			<div class="col-md-4 col-sm-6 portfolio-item">
				<a href="{{post.url}}" class="portfolio-link">
					{% capture imgurl %}{% if post.thumbnail %}{{post.thumbnail}}{% elsif post.imgtitle %}{{post.imgtitle}}{% else %}thumb/default_thumb.png{% endif %}{% endcapture %}
					<img src="{{base}}/assets/img/{{imgurl}}" class="img-responsive" alt="{{post.title}}">
				</a>
				<div class="portfolio-caption">
					<h4>{{post.title}}</h4>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</section>


<!-- kudos to  Mark Murray for the timetable -->
<section id="horaires" class="bg-navy">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Horaires d'ouverture</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class='tab'>
					<table border='0' cellpadding='0' cellspacing='0'>
						<tr class='days'>
							<th></th>
							<th>Lundi</th>
							<th>Mardi</th>
							<th>Mercredi</th>
							<th>Jeudi</th>
							<th>Vendredi</th>
							<th>Samedi</th>
						</tr>
					<tr>
							<td class='time'>8h00</td>
							<td rowspan="3" class='cs335 blue' data-tooltip='The Life of Pablo'>Peinture</td>
							<td>-</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>9h00</td>
							<td>-</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>10h00</td>
							<td rowspan="3" class='cs335 navy lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
							<td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
							<td></td>
							<td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
							<td rowspan="5" class='md313 green' data-tooltip='Journée de la femme'>Atelier cuisine<br>Une fois par mois</td>
						</tr>
						<tr>
							<td class='time'>11h00</td>
							<td></td>
							<td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
							<td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [CH]</td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>12h00</td>
							<td></td>
							<td class='md313 red' data-tooltip='Special Topic: Multiculturalism &amp; Nationalism'>MD313 [Iontas]</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>13h00</td>
							<td></td>
							<td></td>
							<td class='md313 red' data-tooltip='Special Topic: Multiculturalism &amp; Nationalism'>MD313 [Iontas]</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>14h00</td>
							<td></td>
							<td></td>
							<td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS2]</td>
							<td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [TH1]</td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>15h00</td>
							<td></td>
							<td></td>
							<td></td>
							<td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>16h00</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
							<td></td>
						</tr>
						<tr>
							<td class='time'>17h00</td>
							<td class='cs335 blue' data-tooltip='Délices de la nuit'>Crêpes</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>


<section class="success" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>A propos de nous</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
			</div>
			<div class="col-lg-4">
				<p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
			</div>
		</div>
	</div>
</section>
