---
layout: default
title: Nos Sorties
subtitle: à Nîmes et ailleurs
permalink: /nos-sorties
---

<header class="intro-header intro-header-small" style="background: #18bc9c">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1 itemprop="name headline">{{page.title}}</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container container-spaced">
	<div class="row">
	{% for post in site.categories.sorties %}
		<div class="col-sm-4 portfolio-item">
			<a href="{{post.url}}" class="portfolio-link">
				{% capture imgurl %}{% if post.thumbnail %}{{post.thumbnail}}{% elsif post.imgtitle %}{{post.imgtitle}}{% else %}thumb/default_thumb.png{% endif %}{% endcapture %}
				<img src="{{base}}/assets/img/{{imgurl}}" class="img-responsive" alt="{{post.title}}">
			</a>
			<div class="portfolio-caption {% cycle 'bg-light-green', 'bg-light-gray' %}">
				<h4>{{post.title}}</h4>
			</div>
		</div>
	{% endfor %}
	</div>
</div>