---
layout: default
extra_css:
  - post.css

---

<article itemscope itemtype="http://schema.org/BlogPosting">

	{% if page.imgtitle %}
		{% capture imgurl %}{{base}}/assets/img/{{page.imgtitle}}{% endcapture %}

		{% for img in site.static_files %}
			{% if img.path contains imgurl %}
				{% assign file_exists = true %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% assign file_exists = false %}
	{% endif %}

	{% unless file_exists %}
		{% assign imgurl = {{base}}|append:'/assets/img/default-imgtitle.jpg' %}
	{% endunless %}

	<header class="intro-header" style="background-image: url('{{imgurl}}')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1 itemprop="name headline">{{page.title}}</h1>
						<hr class="small">
						<span class="subheading">{{page.subtitle}}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="page-content" itemprop="articleBody">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</article>


{%comment %}
{% include post-css.html %}
{% endcomment %}